extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  div.panel
    label Model:
    input.guid-input
    button.apply-guid apply

  .guid
    input(maxlength="8" size="8" autocomplete="off" type="text" spellcheck="false")
    input(maxlength="6" size="6" autocomplete="off" type="text" spellcheck="false")
    input(maxlength="6" size="6" autocomplete="off" type="text" spellcheck="false")
    input(maxlength="6" size="6" autocomplete="off" type="text" spellcheck="false")
    input(maxlength="12" size="12" autocomplete="off" type="text" spellcheck="false")

  .guid-value {00000000-000000-000000-000000-000000000000}
