extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  div.panel
    label Model:
    input.guid-input
    button.apply-guid apply

  .guid
    input(autocomplete="off" type="text" spellcheck="false")

  .guid-value {00000000-0000-0000-0000-000000000000}
